{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block naobundle_body %}

	<div class="jumbotron bg-home">
	  <h1 class="display-3 text-center">Bienvenue à tous !</h1>
	
		  <!--Carousel Wrapper-->
	<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
	    <!--Indicators-->
	    <ol class="carousel-indicators">
	        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
	        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
	    </ol>
	    <!--/.Indicators-->
	    <!--Slides-->
	    <div class="carousel-inner" role="listbox">
	        <!--First slide-->
	        <div class="carousel-item active">
	            <img class="d-block w-100" height="450" src="{{ asset('img/img1.jpg') }}" alt="image d'oiseau">
	        </div>
	        <!--/First slide-->
	        <!--Second slide-->
	        <div class="carousel-item">
	            <img class="d-block w-100" height="450" src="{{ asset('img/img2.jpg') }}" alt="image d'oiseau">
	        </div>
	        <!--/Second slide-->
	        <!--Third slide-->
	        <div class="carousel-item">
	            <img class="d-block w-100" height="450" src="{{ asset('img/img3.jpg') }}" alt="image d'oiseau">
	        </div>
	        <!--/Third slide-->
	    </div>
	    <!--/.Slides-->
	    <!--Controls-->
	    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
	        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	        <span class="sr-only">Précédent</span>
	    </a>
	    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
	        <span class="carousel-control-next-icon" aria-hidden="true"></span>
	        <span class="sr-only">Suivant</span>
	    </a>
	    <!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->


	  <hr class="my-4">
	  <h3>Notre vocation</h3>
	  <p>L'association Nos Amis les Oiseaux a pour but d'aider à la survie des oiseaux en protégeant leur lieu d'habitat.<br />
	  	Sur le site vous pourrez <strong>consulter</strong> les lieux d'habitats des différentes espèces mais aussi <strong>devenir acteur</strong> de notre programme de recherche en saissisant les informations relatives à l'espèce que vous observez. <p/>
	  	<p>Pour cela rien de plus simple, il suffit de créer un compte en cliquant sur le bouton "Participer".</p>
		
			<div class="center-block text-center">
		    	<a href="{{ path('recherche')}}"><button class="btn btn-default btn-lg"><i class="fa fa-search" aria-hidden="true"></i>  Rechercher</button></a>

		    	<a href="{{ path('inscription')}}"><button class="btn btn-default btn-lg"> <i class="fa fa-sign-in" aria-hidden="true"></i>  Participer</button></a>
		  </div>
		
		<hr> 
		
		<div class="row">
			<div class="col-md-6">
				<p class="h5 text-center mb-4">Pourquoi une newsletter ?</p>
				
				<ul>
					<li>Etre au courant des dernières nouveautés du site</li>
					<li>Contribuer à la communauté en répondant des sondages</li>
					<li>Participation à des concours</li>
					<li>Et bien plus...</li>
				</ul>
			</div>
			<div class="col-md-6">
	        	<form>
	    			<p class="h5 text-center mb-4 bounce">S'abonner à la newsletter</p>
				    <div class="md-form">
				        <i class="fa fa-user prefix grey-text"></i>
				        <input type="text" id="form3" class="form-control">
				        <label for="form3">Prénom</label>
				    </div>

				    <div class="md-form">
				        <i class="fa fa-envelope prefix grey-text"></i>
				        <input type="text" id="form2" class="form-control">
				        <label for="form2">Adresse e-mail</label>
				    </div>

				    <div class="text-center">
				        <button class="btn btn-success">S'abonner <i class="fa fa-paper-plane-o ml-1"></i></button>
				    </div>

				</form>
			</div>
		</div>
  	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
<script>
	var compte = '{{ nbCompte }}';
	var obs = '{{ nbObs }}';
</script>
<script src="{{ asset('js/notify.js') }}"></script>
{% endblock %}
