{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block naobundle_body %}

	<div class="jumbotron bg-home">
	  <h1 class="display-3 text-center">Bienvenue à tous !</h1>
	  <hr class="my-4">
	  <h3>Notre vocation</h3>
	  <p>L'association Nos Amis les Oiseaux a pour but d'aider à la survie des oiseaux en protégeant leur lieu d'habitat.<br />
	  	Sur le site vous pourrez <strong>consulter</strong> les lieux d'habitats des différentes espèces mais aussi <strong>devenir acteur</strong> de notre programme de recherche en saissisant les informations relatives à l'espèce que vous observez. <p/>
	  	<p>Pour cela rien de plus simple, il suffit de créer un compte en cliquant sur le bouton "Participer".</p>
		
			<div class="center-block text-center">
		    	<a href="{{ path('recherche')}}"><button class="btn btn-default btn-lg"><i class="fa fa-search" aria-hidden="true"></i>  Rechercher</button></a>

		    	<a href="{{ path('inscription')}}"><button class="btn btn-default btn-lg"> <i class="fa fa-sign-in" aria-hidden="true"></i>  Participer</button></a>
		  </div>
		
		<hr> 
		
        <form>
    <p class="h5 text-center mb-4">S'abonner à la newsletter</p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="form3" class="form-control">
        <label for="form3">Prénom</label>
    </div>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="form2" class="form-control">
        <label for="form2">Adresse e-mail</label>
    </div>

    <div class="text-center">
        <button class="btn btn-success">S'abonner <i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>

	</form>
  	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
<script>
	var compte = '{{ nbCompte }}';
	var obs = '{{ nbObs }}';
</script>
<script src="{{ asset('js/notifs-home.js') }}"></script>
{% endblock %}
