{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Rechercher - {{ parent() }}
{% endblock %}

{% block naobundle_body %}
    {{ form(formRecherche) }} <br>
    <style>
       #map {
        height: 400px;
        width: 80S%;
       }
    </style>

    <div id="map"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/bootstrap3-typeahead.js')}}"></script>
	<script>
           var noms = {% if noms is defined %}
           	{{ noms|json_encode|raw }}
           	{% else %} null
           	{% endif %}
       </script>
	<script src="{{ asset('js/autocomplete.js') }}"></script>
	<script src="{{ asset('js/localisationRecherche.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtE4xVHrJdaSivopE-_T93pQfJ41Z3Hds&callback=initMap" async defer>
    </script>

{% endblock %}
