{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block naobundle_body %}
    <div class="container">
        <div class="row"><center><h1>Inscription</h1></center></div>
        <div class="row">

            <div class="col-lg-offset-3 col-lg-5 ">
                {{ form_start(formInscription) }}
                {{ form_row(formInscription.nom) }} <br/>
                {{ form_row(formInscription.username) }} <br/>
                {{ form_row(formInscription.email) }} <br/>
                {{ form_row(formInscription.password) }} <br/>
                {{ form_row(formInscription.compte) }} <br/>
                {{ form_row(formInscription.valider) }} <br/>
                {{ form_end(formInscription) }}
            </div>
        </div>
        <a href="{{ url }}">FACEBOOK</a>
    </div>
{% endblock %}
