{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="245954021654-njn5rgupo32u6qnn9c86ae2nejhqq9ho.apps.googleusercontent.com">
{% endblock %}

{% block title %}
	Inscription - {{ parent() }}
{% endblock %}

{% block naobundle_body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-lg-offset-3 col-lg-5 "> <center><h1>Inscription</h1></center> </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-lg-offset-3 col-lg-5 ">
                <div class="md-form">
                {{ form_start(formInscription) }}
                <label for="orangeForm-name"></label><br/>
                </div>
                <div class="md-form">
                {{ form_row(formInscription.nom) }}
                    <label for="orangeForm-name"></label>
                </div><br/>
                <div class="md-form">
                {{ form_row(formInscription.username) }}
                    <label for="orangeForm-name"></label>
                </div><br/>
                <div class="md-form">
                {{ form_row(formInscription.email) }}
                <label for="orangeForm-name"></label>
                </div><br/>
                <div class="md-form">
                {{ form_row(formInscription.password) }}
                    <label for="orangeForm-name"></label>
                </div><br/>
                {{ form_row(formInscription.compte) }}
                {{ form_row(formInscription.valider) }}<br/>
                {{ form_end(formInscription) }}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-lg-2 ">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
            <div class="col-3">
                <a href="{{ url }}" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span>Inscription Facebook</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
    var path = '{{ path('omega_nao_inscription_google') }}';
    var returnPath = '{{ path('login') }}';
    </script>
    {% javascripts filter='jsqueeze' output='js/compiled/*.js'
        'js/sendData.js'
        'js/googleAccount.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
