{% extends "OmegaNAOBundle::layout.html.twig" %}

{% block title %}
	Votre profil - {{ parent() }}
{% endblock %}

{% block naobundle_body %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-8">
					<center><h1>Profil de {{ user.username }}</h1></center>
				</div>
				<div class="col-2">
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
			<div class="row">
				<div class="col-6">
					<h3>Vos informations</h3>
					<table  class="table table-bordered" id="infoCompte">
							<tr>
								<td>
									<b>Email</b>
								</td>
								<td>
									{{ user.email }}
								</td>
							</tr>
						<tr>
							<td>
								<b>Type de compte</b>
							</td>
							<td>
								{{ user.compte }}
							</td>
						</tr>
					</table>
				</div>

				<div class="col-6">
                    {% if user.compte == 'particulier' %}
						<hr>
						<h4>Changer son type de compte</h4>
						<a href="{{ path('omega_nao_changement_compte', {id: user.id}) }}" class="btn btn-primary">Je souhaite avoir un compte naturaliste</a>
                    {% endif %}
				</div>
			</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	{% if app.session.flashBag.has('infoCompte') %}
			{% for message in app.session.flashbag.get('infoCompte') %}
		        var message = '{{ message }}';
		    {% endfor %}
  {% endif %}
  </script>
	<script src="{{ asset('js/bootstrap-notify.min.js')}}"></script>
    <script src="{{ asset('js/notify.js')}}"></script>
{% endblock %}